<footer style="text-align: center; color: #333333; padding: 10px; position: fixed; bottom: 0; left: 0; width: 100%; background: #ffffff; z-index: 100; border-top: 1px solid #d1d5db; box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);">
    <p style="margin: 0;">Created by G. Daniel Vineel | <a href="https://www.linkedin.com/in/danielvineel" target="_blank" style="color: #0056b3; text-decoration: none; font-weight: bold;">LinkedIn Profile</a> | <a href="{{ url_for('mydata') }}" style="color: #0056b3; text-decoration: none; font-weight: bold;">My Data</a></p>
</footer>
